@font-face{
    font-family: 'Spectrum';
    src: url('/font/Spectrum.ttf') format('truetype');
    src: url('font/Spectrum.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');



html{
  scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden; 
}
.spectrum{
    font-family: 'Spectrum';
    letter-spacing: 2px;
}
h1{
    letter-spacing: 3px;
    padding: 0 10px 0 10px;
}
h2{
   font-size: 1.25rem !important;
   letter-spacing: 1.5px;
   opacity: .5;
   color:#BDC0BA;
   text-align: center;
   font-family: 'Poppins', sans-serif;

}
h3{
  color:#FFFFFB;
}

.navbar{
   
}

.navbar-nav{
    letter-spacing: 3px;
    padding: 0 10px 0 10px;
}

.navbar-nav .nav-link.active{
  color: #FC9F4D !important;
}

.navbar-nav .nav-link:hover{
    color: #FC9F4D !important;
}  
a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 7%;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar .container-fluid{
  padding-left: 19rem ;
  padding-right: 19rem;
}
.navbar h4{
    letter-spacing: 3px;
    padding: 0 10px 0 10px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
   
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item.active{
   background-color: #FC9F4D!important;
}
  .landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
  }
  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    background-image: url(image/landingimg.jfif);
  }
  .caption{
      width: 100%;
      max-width: 100%;
      position: absolute;
      top:25%;
      z-index: 1;
      
  }
  .caption h1{
      font-size: 5.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      /*text-shadow: .1rem .1rem .8rem whitesmoke;*/
      font-family: 'Spectrum';
      color:#FFFFFB;
  }
  .caption h3{
      font-size:3.5rem;
      font-weight: 600;      
      text-shadow: .1rem .1rem .5rem#E1A679;
      letter-spacing: 4px;
      padding-bottom: 20px;
      color:#FFFFFB;
      font-family: 'Josefin Slab', serif;

  }
  .caption .btn-lg {
      border-width: medium;
      border-radius: 0;
      border-color:#FFFFFB;
      font-size:1rem ;
      padding: .5rem 1rem;
      margin-top: 4rem;
      color:#FFFFFB;
      font-family: 'Josefin Slab', serif;
      letter-spacing: .3rem;
  }
  .caption .btn-lg:hover {
    background-color:#CA7A2C;
    border-color: #CAAD5F;
  }
 #fi1{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
      
 }
 #fi2{ 
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
   -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
       animation: fadein 4s;
      
       
 }
 #fi3{
  webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
   -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
       animation: fadein 6s;
       
       
 }
 @keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.95; }
}
/*timeline*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#exp{
  background:linear-gradient(to left, rgb(12, 12, 12),rgb(28,28,28), rgb(45, 45, 45)), rgb(55,55,55);
  padding-top:3.5rem;
}
 #exp .container {
    width: 100%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    
  }
 #exp .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
 #exp .timeline ul {
    list-style: none;
  }
 #exp .timeline ul li {
    padding: 20px;
    background-color:#E8B647;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
 #exp .timeline ul li:last-child {
    margin-bottom: 0;
  }
#exp  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
 #exp .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
 #exp .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
 #exp  .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
 #exp   .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
  #exp  .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
#exp    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
#exp    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
#exp    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
#exp    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
#exp    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
#exp    .timeline ul li:hover::before {
      background-color:#CB4042;
    }
  }
#exp h5{
    color:black;
    letter-spacing: 1px;
}
#exp h3{ 
   font-size: 2.5rem;
   color :#FFFFFB ;
   letter-spacing: .5rem;
   padding-top:3.5rem;
}

#skill{
  background:linear-gradient(to right, rgb(12, 12, 12),rgb(28,28,28), rgb(45, 45, 45)), rgb(55,55,55);
  width: 100%;
  padding:8rem;
  font-size: 1.5rem;
  color:#FFFFFB;
  letter-spacing: .35rem;
  font-family: 'Oswald', sans-serif;
}
#skill .container{
  padding-top: 3.5rem;
  display: flex;
  display: -webkit-flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
#skill h3{  
  font-size: 2.5rem;
  color :#FFFFFB ;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: .5rem;
}
.progress {
  background: #FCFAF2;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 26rem;
}

.progress-adv {
  animation: adv 3s normal forwards;
  box-shadow: 0 10px 40px -10p#FC9F4D;
  border-radius: 100px;
  background:#FC9F4D;
  height: 30px;
  width: 0;
}

@keyframes adv {
  0% { width: 0; }
  100% { width: 68%; }
}
.progress-jun {
  animation: jun 3s normal forwards;
  box-shadow: 0 10px 40px -10px#FC9F4D;
  border-radius: 100px;
  background:#FC9F4D;
  height: 30px;
  width: 0;
}
@keyframes jun {
  0% { width: 0; }
  100% { width: 33%; }
}
.progress-hal {
  animation: hal 3s normal forwards;
  box-shadow: 0 10px 40px -10px#FC9F4D;
  border-radius: 100px;
  background:#FC9F4D;
  height: 30px;
  width: 0;
}
@keyframes hal {
  0% { width: 0; }
  100% { width: 50%; }
}
#abme{
  background:linear-gradient(to left, rgb(12, 12, 12),rgb(28,28,28), rgb(45, 45, 45)), rgb(55,55,55);
  width: 100%;
  padding:8rem;
}
#abme h3{
  letter-spacing: .2rem;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-bottom: 2rem;
}
#abme h2{
  text-align: left;
}
#abme .container{
  display: flex;
  display: -webkit-flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:10rem;
}
#abme img{
  height:auto;
  width: 400px;
  border-radius: .3rem;
  box-shadow: -2.3rem 2rem #0089A7;
}
#contact{
  background:linear-gradient(to right, rgb(12, 12, 12),rgb(28,28,28), rgb(45, 45, 45)), rgb(55,55,55);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
#contact h3{
  font-size: 2.5rem;
   color :#FFFFFB ;
   letter-spacing: .5rem;  
   text-align: center;
}
#contact h5{
  font-size:.8rem;
  text-align: center;
  color:#BDC0BA;
  letter-spacing: .1rem;
  padding-bottom: 1.8rem;
}
#contact h4{
  font-size: 1.1rem;
  color:#FFFFFB;
  letter-spacing: .1rem;
}
#contact .container{
  padding-top: 3rem;
}
